<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Siasat">

        <!-- Main Launcher Activity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Kaprodi Activities -->
        <activity
            android:name=".auth.KaprodiLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".kaprodi.KaprodiMainActivity"
            android:exported="false"
            android:label="Kaprodi Dashboard"/>

        <!-- Dosen Activities -->
        <activity
            android:name=".dosen.DosenMainActivity"
            android:exported="false"
            android:label="Dosen Dashboard"/>

        <!-- Mahasiswa Activities -->
        <activity
            android:name=".mahasiswa.MahasiswaMainActivity"
            android:exported="true"
            android:label="Mahasiswa Dashboard">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <!-- Remove this if not needed -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <!-- Remove intent-filter if you're using LoginActivity as launcher -->
        </activity>

    </application>

    <!-- Internet permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>